<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">;">
  <div class="container">
    <h1><strong>
        <%= @list.name %>
      </strong></h1>
    <!-- <p>Change your life en creant des listes de movies avec des bookmarks</p> -->
  </div>
</div>

<h1>Details de <%= @list.name %>
</h1>

<div class="movie-cards container row">
  <% @movies.each do |movie| %>
    <div class="movie-card col">
      <img src=<%=movie.poster_url%> alt="" style="height:230px">
      <p class="flex-wrap">
        <%= movie.title %>
      </p>
    </div>
    <% end %>
</div>

<%= link_to "Revenir à la liste de liste" , lists_path %>