<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">;">
  <div class="container">
    <h1><strong>
        <%= @list.name %>
      </strong></h1>
    <!-- <p>Change your life en creant des listes de movies avec des bookmarks</p> -->
  </div>
</div>

<h1>Details de <%= @list.name %>
</h1>

<div class="movie-cards container row">
  <% @list.bookmarks.each do |bk| %>
    <div class="movie-card col">
      <img src=<%=bk.movie.poster_url%> alt="" style="height:230px">
      <p class="flex-wrap">
        <%= bk.movie.title %>
      </p>
    </div>
    <% end %>
</div>
<%= link_to "Ajouter un bookmark" , new_list_bookmark_path(@list.id) %>
<%= link_to "Revenir à la liste de liste" , lists_path %>