<div class="banner"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">;">
  <div class="container">
    <h1><strong>
        <%= @list.name %>
      </strong></h1>
    <!-- <p>Change your life en creant des listes de movies avec des bookmarks</p> -->
  </div>
</div>

<h1>Your <%= @list.name %>'s bookmarks'
</h1>

<div class="movie-cards container d-flex flex-wrap">
  <% @list.bookmarks.each do |bk| %>
    <div class="movie-card m-3">
      <img src=<%=bk.movie.poster_url%> alt="" style="height:230px">
      <h6 class="">
        <%= bk.movie.title %>
      </h6>
      <p><em>
      <%= bk.comment %>
      </em></p>
    </div>
    <% end %>
</div>
<%= link_to "<i class='fas fa-backward'></i> Back to lists".html_safe, lists_path,  :class=> "btn btn-primary"%>
<%= link_to "<i class='fas fa-bookmark'></i> Add bookmark".html_safe , new_list_bookmark_path(@list.id), :class=> "btn btn-primary" %>
<%= link_to "NE PAS CLIQUER" , lists_404_path , :class=> "btn btn-danger"%>
